<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href={{ url_for('static', filename='styles.css') }} rel="stylesheet">
    <title>Eureka History Window</title>
  </head>
  <body>
    <!-- <form method=post enctype=multipart/form-data>
      <input type="file" name="new_root_path" onchange="javascript:this.form.submit();" webkitdirectory mozdirectory msdirectory odirectory directory multiple /> -->
      <!-- <input type=file multiple name=file onchange="javascript:this.form.submit();"> -->
    <!-- </form> -->

    <table border=1 frame=void rules=rows>
    <!-- headers -->
    <tr>
      <td>Session</td>
      <!-- <td>Timestamp</td> -->
      <td>Predicates</td>

      <!-- statistics -->
      {% for stat_key in rows[0]['per_img'][0]['derived_stats'].keys() %}
        <td>{{ stat_key }}</td>
      {% endfor %}
    </tr>

    <!-- data per row -->
    {% for i in range(rows | length) %}
    <tr>
        <td>
          <br>
          Session Num: {{ i }}<br>
          Type: {{ rows[i]['info']['type'] }}<br>
          <br>
          <a href="/replay/{{i}}" target="blank">
            <button class='btn btn-default'>Replay</button>
          </a>
        </td>
        <!-- <td>
          {{ rows[i]['derived_info']['start_time'] }}<br>
                Until...<br>
          {{ rows[i]['derived_info']['end_time'] }}
        </td> -->
        <td>
            {% for pred in rows[i]['predicates'] %}
            - {{ pred.instanceName }}<br>
              Pos: {{ pred.numPositives }}, Neg: {{ pred.numNegatives }}<br>
            {% endfor %}
            <br>
            <a href="/download/{{i}}" target="blank">
              <button class='btn btn-default'>Download Predicates!</button>
            </a>
        </td>

        <!-- statistics data for last one (overall) -->
        {% for stat_key, stat_val in rows[i]['per_img'][-1]['derived_stats'].items() %}
        <!-- hacky check for whether it's a float -->
        {% if (stat_val | int) != stat_val %}
          <td>{{ "%.3f" | format(stat_val) }}</td>
        {% else %}
          <td>{{ stat_val }}</td>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
    </table>

    <br>
    <br>
    <div style="float:left; width:25%">
      <form> 
        <!-- Each parameter is a field of derived stats -->
        Select a parameter to plot time-series: 
        <select id='select_plot' onchange='plotDataSelector()'>
        {% for stat_key, stat_val in rows[0]['per_img'][0]['derived_stats'].items() %}
          {% if 'elapsed_time' not in stat_key %}
          <option>{{ stat_key }}</option>
          {% endif %}
        {% endfor %}
        </select>
      </form>
    </div>
    <div style="float:left; width:25%" id="history_plots">
    </div>
  </body>
<script src={{ url_for('static', filename='plot.js') }}></script>  
<script>

function refreshPlot() {
  var req = new XMLHttpRequest();
  req.open('GET', '/refresh_plot', true);
  req.onreadystatechange = function(e) {
    if(req.readyState !== 4) {
        return;
    }
    if ([200, 304].indexOf(req.status) === -1) {
        console.warn('Error! XHR failed.');
    } else {
      data = JSON.parse(e.target.responseText);
      plotDataSelector(data);
    }
  };
  req.send();
}

// refresh plot every 1s
refreshPlot();
setInterval(function() {
  refreshPlot();
}, 1000);  

</script>

</html>