<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <style>
      * {
        font-size: 20px;
      }
      td {
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
      }
    </style>
    <title>Eureka History Window</title>
  </head>
  <body>
    <table border=1 frame=void rules=rows>
      <tr>
        <td>Timestamp</td>
        <td>NodeType</td>
        <td>Predicates</td>
        <td>Replay</td>
      </tr>
    {% for row in rows %}
    <tr>
        <td>{{ row.timestamp }}</td>
        <td>{{ row.type }}</td>
        <td>
          <ol>
            {% for predicates in row.predicates %}
            <li>{{ predicates }}</li>
            {% endfor %}
            <br><br>
            <a href="/download/{{row.sess_num}}/{{row.type}}" target="blank">
              <button class='btn btn-default'>Download Predicates!</button>
            </a>
          </ol>
        </td>
        <td>
          <a href="/replay/{{row.sess_num}}" target="blank">
            <button class='btn btn-default'>Replay</button>
          </a>
        </td>
    </tr>
    {% endfor %}
    </table>
  </body>
</html>