<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <script src="https://d3js.org/d3.v4.js"></script>
    <style>
      * {
        font-size: 20px;
      }
      td {
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
      }
      svg {
        display: block;
        margin: 0 auto;
      }
    </style>
    <title>Eureka History Window</title>
  </head>
  <body>
    <table border=1 frame=void rules=rows>
      <tr>
        <td>Session</td>
        <td>Timestamp</td>
        <td>Predicates</td>

        {% for stat_key in rows['0']['stats'].keys() %}
          <td>{{ stat_key }}</td>
        {% endfor %}

      </tr>
    {% for sess_num, row in rows.items() %}
    <tr>
        <td>
          <br>
          Num: {{ sess_num }}<br>
          Type: {{ row.type }}<br>
          <br>
          <a href="/replay/{{sess_num}}" target="blank">
            <button class='btn btn-default'>Replay</button>
          </a>
        </td>
        <td>
          {{ row.start_time }}<br>
                Until...<br>
          {{ row.end_time }}
        </td>
        <td>
            {% for pred in row.predicates %}
            + {{ pred.instanceName }}<br>
              Pos: {{ pred.numPositives }}, Neg: {{ pred.numNegatives }}<br>
            {% endfor %}
            <br>
            <a href="/download/{{sess_num}}" target="blank">
              <button class='btn btn-default'>Download Predicates!</button>
            </a>
        </td>

        {% for stat_key, stat_val in row['stats'].items() %}
          <td>{{ stat_val }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </table>

    <br>
    <br>
    <br>
    <br>
    <form> 
      Select a parameter to plot time-series: 
      <select id='select_plot' onchange='plotDataHelper()'>
        <option>true positive</option>
        <option>false negative</option>
        <option>precision</option>
        <option>recall</option>
        <option>pass rate</option>
      </select>
    </form>
    <div id="history_plots">
    </div>
  </body>
<script>

// set the dimensions and margins of the graph
var margin = {top: 50, right: 30, bottom: 30, left: 60},
    width = 460 - margin.left - margin.right,
    height = 400 - margin.top - margin.bottom;

// append the svg object to the body of the page
var svg = d3.select("#history_plots")
  .append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");

var data = {{ stat_series | tojson | safe }};

function id(key) {
  return function(d) {return d[key]; };
}

// takes in functions
function div(num, denom) {
  return function(d) {
    return denom(d) > 0 ? num(d)/denom(d) : 0; 
  };
}

function sum(s1, s2) {
  return function(d) {
    return s1(d)+s2(d);
  }
}

function plot_data(data, xfn, yfn, xlabel, ylabel) {
  svg.append("text")
        .attr("x", (width / 2))             
        .attr("y", 0 - (margin.top / 2))
        .attr("text-anchor", "middle")  
        .text(xlabel + " v. " + ylabel);

  // Add X axis --> it is a date format
  var x = d3.scaleTime()
    .domain(d3.extent(data, xfn))
    .range([ 0, width ]);
  svg.append("g")
    .attr("transform", "translate(0," + height + ")")
    .call(d3.axisBottom(x));

  // Add Y axis
  var y = d3.scaleLinear()
    .domain([0, d3.max(data, yfn)])
    .range([ height, 0 ]);
  svg.append("g")
    .call(d3.axisLeft(y));

    // text label for the x axis
  svg.append("text")             
      .attr("transform",
            "translate(" + (width/2) + " ," + 
                           (height + margin.top + 20) + ")")
      .style("text-anchor", "middle")
      .text("Date");

  // Add the line
  svg.append("path")
    .datum(data)
    .attr("fill", "none")
    .attr("stroke", "steelblue")
    .attr("stroke-width", 1.5)
    .attr("d", d3.line()
      .x(function(d) { return x(xfn(d)); })
      .y(function(d) { return y(yfn(d)); })
    );
}

// default
plot_data(data, id('arrival_time'), id('TruePositive'), 'Time', 'TruePositive');

function plotDataHelper() {
  svg.selectAll('*').remove();
  var mylist = document.getElementById('select_plot')
  var selection = mylist.options[mylist.selectedIndex].text;

  var xlabel = 'Time';
  var ylabel = selection;
  if (selection === 'true positive') {
    plot_data(data, id('arrival_time'), id('TruePositive'), xlabel, ylabel);
  } else if (selection === "false negative") {
    plot_data(data, id('arrival_time'), id('FalseNegative'), xlabel, ylabel);
  } else if (selection === "precision") {
    var ylabel = 'Precision';
    plot_data(data, id('arrival_time'), div(id('TruePositive'), id('Passed')), xlabel, ylabel);
  } else if (selection === "recall") {
    var ylabel = "Recall";
    plot_data(data, id('arrival_time'), div(id('TruePositive'), sum(id('TruePositive'), id('FalseNegative'))), xlabel, ylabel);
  } else if (selection === "pass rate") {
    var ylabel = 
    plot_data(data, id('arrival_time'), div(id('Passed'), id('Searched')), xlabel, ylabel)
  } else {
    console.log("Invalid selection!");
    console.log(selection);
  }
}



</script>
</html>